@media screen and (min-width: 1024px) {
   .search-box input {
      width: 924px;
   }

   .navBar-menu button {
      font-size: 13px;
      font-family: "medium.woff2";
      padding: 9px 15px;
      border-radius: 20px;
      border: none;
      background-color: var(--day);
      margin-left: 20px;
      margin-right: 10px;
   }

   .navBar-menu button:hover {
      background-color: var(--primary-btn-bg);
   }

   .navBar-menu .login {
      display: none;
   }

   .navBar-menu .like {
      margin-right: 24px;
   }

   .gift {
      display: flex;
      flex-direction: row;
      align-items: center;
   }

   .gift .gift-icon {
      width: 34px;
   }

   .nav-bar-menu {
      width: 100%;
      font-family: "regular.woff2";
      justify-content: space-evenly;
      font-size: 13px;

   }

   .menu {
      padding: 20px;
   }

   .menu:hover {
      border-bottom: 2px solid var(--iconColor);
   }

   .nav-bar {
      position: static;
      padding-bottom: 0;
   }

   .header-section {
      padding-top: 30px;
      margin-bottom: 180px;
   }

   .hsection2 {
      top: 122px;
      left: 23px;
      column-gap: 73px;

   }

   .hcontainer img {
      width: 145px;
      height: 139px;
   }

   .navBar-menu button,
   .nav-bar .like {
      display: block;
   }

   .nav-bar-menu,
   .section-display-desktop {
      display: flex;
   }

   .desktop-section1-heading {
      font-size: 20px;
      font-weight: 700;
      font-family: "regular.woff2";
      width: 100%;
      justify-content: space-between;
      color: var(--iconColor);
      margin-bottom: 20px;
   }

   .section-display-desktop {
      width: 100%;
   }

   .desktop-section1,
   .desktop-section2
   {
      width: 94%;
      align-items: center;
      align-content: center;
      justify-content: center;
      margin-bottom: 84px;
   }
   .desktop-section4{
     width: 94%;
     border: 1px solid #c0b9b9;
     border-radius: 8px;
     align-items: flex-start;
     background-image: url("https://i.etsystatic.com/27994569/r/il/60d44c/4011797610/il_570xN.4011797610_4kzc.jpg");
     background-repeat: no-repeat;
     background-size: 377px;
     background-position: 113%;
     margin-bottom: 98px;
     
   }

   .desktop-section3{
      margin-bottom: 100px;
   }

   .desktop-section2 {
      gap: 20px;
      margin-bottom: 150px;
   }

   .shop-all {
      font-size: 16px;
   }

   .sub-division-cards svg {
      fill: rgb(88, 84, 84);
      width: 24px;
      height: 24px;
      background-color: var(--day);
      padding: 5px;
      border-radius: 50px;
      position: absolute;
      top: 15px;
      right: 15px;
      display: none;
      border: 0.1px solid gray;
   }

   .sub-division-cards:hover {
      box-shadow: 1px 1px 10px rgb(156, 153, 153);

   }

   .sub-division-cards:hover>svg {
      display: block;
   }

   .sub-division-cards svg:active {
      stroke: red;
   }

   .sub-division-cards .card-price {
      font-family: "regular.woff2";
      font-size: 13px;
      font-weight: bold;
      background-color: var(--day);
      color: var(--iconColor);
      padding: 3px 8px;
      width: fit-content;
      border-radius: 50px;
      position: absolute;
      bottom: 15px;
      left: 15px;
   }

   .sub-division-cards img {
      width: 100%;
      border-radius: 8px;
      height: 100%;
   }

   .sub-division-cards {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 8px;
   }

   .card-title {
      font-size: 13px;
      font-weight: bold;
      font-family: "regular.woff2";
      color: var(--iconColor);
   }

   .card-title div:hover,
   .shop div:hover {
      margin-right: 4px;
   }

   .card-title {
      cursor: pointer;
   }

   .desktop-section1-main-card1,
   .desktop-section1-main-card2,
   .desktop-section1-main-card3,
   .desktop-section1-main-card4,
   .desktop-section1-main-card5,
   .desktop-section1-main-card6,
   .desktop-section1-main-card7,
   .desktop-section1-main-card8 {
      align-items: flex-start;
      width: 100%;
      height: 100%;
      /* background-color: gray; */
   }

   .desktop-section1-main {
      align-items: flex-start;
      width: 100%;
   }

   .destion-section1-main-sub1 .desktop-section1-main-card1,
   .destion-section1-main-sub3 .desktop-section1-main-card5 {
      height: 208px;
   }

   .destion-section1-main-sub1 .sub-division-cards,
   .destion-section1-main-sub3 .sub-division-cards {
      height: 85%;
   }

   .destion-section1-main-sub1 .desktop-section1-main-card2,
   .destion-section1-main-sub3 .desktop-section1-main-card6 {
      height: 300px;
   }

   .destion-section1-main-sub2 .desktop-section1-main-card3,
   .destion-section1-main-sub4 .desktop-section1-main-card7 {
      height: 300px;
   }

   .destion-section1-main-sub2 .desktop-section1-main-card4,
   .destion-section1-main-sub4 .desktop-section1-main-card8 {
      height: 183px;
   }

   .destion-section1-main-sub2 .sub-division-cards,
   .destion-section1-main-sub4 .sub-division-cards {
      height: 90%;
   }

   .desktop-section1-main {
      gap: 20px;
   }

   .desktop-section2-card1 {
      width: 20px;
      height: 50px;
   }

   .desktop-section2-card1 {
      width: 20pc;
      height: 112px;
      align-items: flex-start;
      padding-left: 10px;
   }

   .desktop-section2-card1 div:nth-child(1) {
      font-family: "regular.woff2";
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: var(--iconColor);
   }

   .desktop-section2-card1 div:nth-child(2) {
      font-family: "regular.woff2";
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      color: var(--iconColor);
      padding-bottom: 10px;
   }

   .desktop-section2-card1 .section-title div {
      font-size: 16px;
      font-weight: bold;
      font-family: "regular.woff2";
      color: var(--iconColor);
      cursor: pointer;
   }

   .desktop-section1-main-card1 {
      width: fit-content;
   }

   .video1-desktop-section1 {

      width: 316px;
      height: 395px;
   }

   .video-container,
   .video2-container {
      border-radius: 8px;
      overflow: hidden;
      width: 316px;
      height: 244px;
   }

   .playbtn-video {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: var(--day);
      padding: 5px 5px 5px 8px;
      border-radius: 50px;
      display: block;
   }

   .sub-division-cards:hover>.playbtn-video {
      display: none;
      transition-duration: 1s;
   }

   .dsection2-smallcard {
      width: 160px;
      height: 243px;
   }

   .dsection2-smallcard img {

      height: 252px;
      width: 300px;
   }

   .dsection2-smallcard svg {
      z-index: 200px;

   }

   .video2-desktop-section1 {
      height: 297px;
      width: 421px;
   }

   .video2-container {
      width: 340px;
   }

   .desktop-section2-sub1,
   .desktop-section2-sub2 {
      gap: 20px;
   }

   .section2-video-price {
      display: none;
   }

   .sub-division-cards:hover>.section2-video-price {
      display: block;
   }

   .desktop-img-container {
      overflow: hidden;
      width: 162px;
      height: 243px;
      border-radius: 8px;
   }

   .img-section2-desktop-level2 img {
      height: 246px;
   }

   .desktop-section2-sub2 .bottom-row-section2 {
      width: 334px;
   }

   .bottom-row-section2 img {
      height: 244px;
   }

   .section-ending {
      width: 341px;
      font-family: "regular.woff2";
      font-weight: 400;
      font-size: 18px;
      color: var(--iconColor);
   }

   .desktop-section3-title {
      font-weight: 700;
      font-size: 28px;
      font-family: "regular.woff2";
      color: var(--iconColor);
      margin-bottom: 20px;
   }

   .desktop-section3-menu {
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      word-break: break-all;
      color: #595959;
      font-family: "regular.woff2";
      width: 100%;
      justify-content: space-evenly;
      border-bottom: 2px solid rgba(34, 34, 34, 0.5);
      height: 45px;
      margin-bottom: 15px;
   }

   .desktop-section3-menu div {
      width: 24%;
      text-align: center;
      height: 46px;
   }

   .desktop-section3-menu div:hover {
      border-bottom: 2px solid var(--iconColor);
   }

   .desktop-section3 {
      width: 98%;
      align-items: flex-start;
   }

   .section3-image1 {
      width: 442px;
      height: 279px;
   }

   .section3-image2 {
      width: 100%;
      height: 132px;
   }

   .desktop-section3-main-sub1,
   .desktop-section3-main-sub-sub,
   .desktop-section3-main {
      gap: 15px;
   }
   .desktop-section4 .desktop-section2-card1{
    width: 27pc;
    height: 191px;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
   }
   .section4-video{
      width: 206px;
   }
   .section4-video .video-container{
      width: 206px;
      height: 161px;
   }
   .desktop-section4-sub1{
      gap:15px;
   }
   .section4-img .sub-division-cards{
      height: 160px;
   }
   .desktop-section4-sub2{
      gap:21px;
      margin: 0 15px 20px 33px;
   }
   

}