* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--day);
    width: 100%;
}

:root {
    --night: #000;
    --iconColor: #222;
    --day: #fff;
    --primary: #D7E6F5;
    --primary-btn-bg:#efefef;
    --secondary: #FDEBD2;
    --footerBlue:#4D6BC6;
    --footerBlueDark:#2F466C;
    --footerBlueDarker:#232347;
}

@font-face {
    font-family: "medium.woff2";
    src: url(assets/fonts/Graphik-Medium-Web.woff2);
}

@font-face {
    font-family: "regular.woff2";
    src: url(assets/fonts/Graphik-Regular-Web.woff2);
}

@font-face {
    font-family: "egypTT.woff2";
    src: url(assets/fonts/Guardian-EgypTT-Light.woff2);
}
li{
    list-style: none;
}
input {
    border: none;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    z-index: 2;
    position: fixed;
    width: 100%;
    padding: 5px 0;
    width: 100%;
    background-color: var(--day);
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}

.page-icon {
    padding: 0 0 0 10px;
}

.search-box input {
    border: none;
    padding: 0 0 0 10px;
    width: 110px;
    height: 44px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #f4f4f4;
}

.search-box {
    background-color: #f4f4f4;
    border: 2px solid var(--iconColor);
    border-radius: 50px;
    margin: 0 5px;
}

.search-icon {
    padding: 10px 5px;
    border: none;
    border-radius: 0 50px 50px 0;
}

.search-icon:active {
    background-color: var(--night);
    fill: var(--day);
}

.navBar-menu object:nth-child(2) {
    margin: 0 0 0 7px;
}

.navBar-menu object:nth-child(3) {
    margin: 0 8px 0 10px;
}
.navBar-menu button,.nav-bar .like,.nav-bar-menu,.section-display-desktop{
    display: none;
}


main {
    background-color: var(--day);
    width: 100%;
    margin-bottom: 50px;
}
header{
    width: 100%;
}

.hcontainer {
    text-align: center;
    font-family: "regular.woff2";
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: var(--iconColor);
}

.hcontainer img {
    width: 87px;
    height: 87px;
    border-radius: 100px;
    margin-bottom: 5px;
}

.hcontainer div {
    width: 79px;
}

.hsection2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    position: absolute;
    top: 190px;
    left: 12px;
}


.hsection1 {
    font-family: "egypTT.woff2";
    font-weight: 300;
    letter-spacing: 0.35px;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: var(--iconColor);
    margin: 20px 0;
}

.header-section {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 200px;
    padding-top: 84px;
    margin-bottom: 110px;
}


.section1 {
    margin-bottom: 50px;
}

.section-sub-container1 {
    gap: 5px;
    font-family: "medium.woff2";
    color: var(--iconColor);
    margin-bottom: 20px;
}

.section1-cards {
    text-align: center;
    width: fit-content;
    border-radius: 20px;
    border: 1px solid rgb(202, 199, 199);
}

.section1-cards img {
    border-radius: 20px 20px 0 0;
    width: 145px;
    height: auto;
}

.section1-cards div {
    font-family: "medium.woff2";
    font-size: 16px;
    line-height: 20px;
    color: var(--iconColor);
    padding: 20px 0;
    width: 120px;
}

.section-sub-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.section2 {
    background-color: var(--primary);
    width: 300px;
    padding: 20px 0;
    border-radius: 5px;
    margin-bottom: 50px;
}

.section2 div:nth-child(1) {
    width: 200px;
    text-align: center;
    font-family: "medium.woff2";
    color: var(--iconColor);
    margin-bottom: 20px;
}

.mail-box {
    font-family: "medium.woff2";
    color: var(--iconColor);
    background-color: var(--day);
    margin-top: 10px;
    padding: 0 0 0 10px;
    border-radius: 20px;
}

.mail-box input {
    width: 100px;
    font-size: 15px;
    padding: 10px;
}

.mail-box div {
    border: none;
    padding: 11px;
    border-radius: 0 20px 20px 0;
    color: var(--iconColor);
}

.mail-box div:active {
    background-color: var(--iconColor);
    color: var(--day);
}

.section3-card {
    gap: 15px;
    width: 300px;
    height: 150px;
    border: 1px solid rgb(202, 199, 199);
    border-radius: 10px;
}

.img-container1,
.img-container2,
.img-container3 {
    border-radius: 10px 0 0 10px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.img-container2 img {
    position: absolute;
    right: -38px;
    bottom: -4px;
    width: 219px;
    height: 220px;
}

.img-container3 img {
    position: absolute;
    right: -26px;
    bottom: -6px;
    width: 184px;
    height: 155px;
}

.img-container1 img {
    z-index: 7px;
    position: absolute;
    right: -73px;
    bottom: -76px;
    width: 300px;
    height: 300px;
}

.section3-card-details {

    align-items: flex-start;
    gap: 15px;
}

.section3-card-details div:nth-child(1),.section3-card-more-info {
    font-family: "regular.woff2";
    font-size: 13px;
    font-weight: 400;
}
.section3-card-more-info{
    display: none;
}

.section3-card-details div:nth-child(2) {
    width: 124px;
    font-family: "regular.woff2";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: var(--iconColor);
}

.section3-sub-container2 {
    gap: 10px;
}

footer {
    width: 100%;
}
.footer-section1 {
    width: 100%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerS1-a h1{
    margin-top:30px;
    font-family: "egypTT.woff2";
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
}
a{
    text-decoration: none;
    color: var(--iconColor);
}
.footerS1-a a{
  text-decoration: underline;
  font-family: "regular.woff2";
  color: var(--iconColor);
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom:30px ;
}
.footer-subsection{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:40px ;
}
.footer-subsection h2{
    font-family: "regular.woff2";
    font-size: 24px;
    font-weight: 700;
    color: var(--iconColor);
    line-height: 32px;
    width: 260px;
    margin-bottom: 10px;
}

.footer-subsection span{
    font-family: "regular.woff2";
    font-size:16px;
    font-weight: 400;
    line-height: 28px;
    color: var(--iconColor);
    width: 260px;
}
.footer-subsection span .para-link{
    text-decoration: underline;
    text-decoration-style:dashed ;
    text-underline-position: under;
}
.footer-subsection-btn h4{
    text-align: center;
    font-family: "regular.woff2";
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    width: 260px;
    color: var(--iconColor);
    margin-bottom: 20px;
}
.footer-subsection-btn button{
    padding: 12px 18px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "regular.woff2";
    border-radius: 30px;
    color: var(--iconColor);
    border: 2px solid var(--iconColor);
    background-color: var(--secondary);
    margin-bottom: 50px;
}
.footer-section2{
    background-color: var(--footerBlue);
    width: 100%;
}
.footerS2-b{
    margin: 30px 0;
    gap: 20px;
}
.footerS2-b a{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: "regular.woff2";
    color: var(--secondary);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
}
.footer-section3{
    background-color: var(--footerBlueDark);
    width: 100%;
}
.footer-menu{
    margin: 10px;
    width: 280px;
    padding: 14px 12px;
    border-radius: 40px;
    /* background-color: aqua; */
    justify-content: space-between;
}
.footer-section3-tab{
    display: none;
}
.footer-menu:active{
    background-color: #465c7e;
}

.footer-menu p,.footer-menu-header{
   font-family: "regular.woff2";
   font-weight: 700;
   font-size: 16px;
   line-height: 20px;
   color: var(--day);
}
.btn-arrowf{
    width: 30px;
    height: 30px;
}
.btn-arrowf:active{
    transform: rotate(180deg);
}
.footer-section3 button{
    background-color: var(--footerBlueDark);
    padding: 3px 12px;
    border: 2px solid var(--day);
    border-radius: 40px;
    margin: 30px 0 20px 0;
}
.footer-section3 button p{
    font-family: "regular.woff2";
    margin-left: 6px;
    font-size: 13px;
    line-height: 1.4;
    font-weight: bold;
    color: white;
}
.social{
    margin-bottom: 20px;
}
.social div{
    padding: 10px;
    cursor: pointer;
}
.social div:active{
    background-color:#465c7e;
    border: 2px solid var(--iconColor);
    border-radius: 60px;
}
.footer-section4{
    width: 100%;
    background-color:var(--footerBlueDarker) ;
    padding:30px 0 ;
    color: var(--day);
    gap:20px
}
.footer-section4 div span{
  font-size: 13px;
  font-weight: bold;
  font-family: "regular.woff2";
}
.footer-section4 span{
    font-size: 13px;
    font-weight: 300;
    font-family: "regular.woff2";
}

.copytab{
    text-decoration: none;
    display: none;
}
.footer-labels{
    gap:6px;
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    justify-content: space-evenly;
    color: var(--day);
    font-size: 13px;
    font-weight: 300px;
    font-family: "regular.woff2";
}
.footer-labels div{
    text-decoration: underline;
}


@media screen and (min-width:375px){
    .search-box input{
        width: 167px;
    }
    .hsection2{
        left: 16px;
    }
    .hcontainer img{
        width: 101px;
        height: 98px;
    }
    .section1-cards img{
        width: 168px;
        border-radius: 10px 10px 0 0;
    }
    .section1-cards{
        border-radius: 10px;
    }
    .header-section{
        padding-bottom: 212px;
    }
    .section2{
        width: 343px;
    }
    .section2 div:nth-child(1){
        width: 294px;
        font-size: 20px;
    }
    .mail-box input{
        width: 170px;
    }
    .section3-card{
        width:341px ;
        gap:25px;
    }
    .section3-card-details div:nth-child(2){
        width: 140px;
        font-size: 18px;
    }
    .footer-subsection h2{
        width: 300px;
    }
    .footer-subsection span{
        width: 308px;
    }
    .footerS2-b a{
        width: 286px;
    }
    .footer-menu{
        width: 333px;
    }
    .footer-labels{
       width: 271px ;
    }
}
@media screen and (min-width:425px) {
    .search-box input{
        width:217px;
    }
    .hsection2{
        column-gap:45px;
    }
    .hsection1{
        width: 411px;
    }
    .section1-cards img{
        width: 196px;
    }
    .section2{
        width:404px;
    }
    .section2 div:nth-child(1){
        width: 388px;
    }
    .mail-box input{
        width: 232px;
    }
    .section3-card{
        width: 400px;
        height: 203px;
    }
    .img-container1,.img-container2,.img-container3{
        width: 211px;
        height: 204px;
    }
    .img-container1 img{
        right:-45px;
        bottom: -79px;
    }
    .img-container2 img {
        right: 0;
    }
    .img-container3 img{
        right: -2px;
        bottom: -6px;
        width: 240px;
        height: 211px;
    }
    .footer-subsection span{
        width:367px;
    }
    .footer-subsection h2{
        width: 365px;
    }
    .footerS2-b a{
        width: 363px;
    }
    .footer-menu{
        width: 385px;
    }
    .footer-labels{
        width:336px;
    }
}


