
:root{
    --on:#6948ed;
    --off:#555;
    --toggle-width:80px;
    --toggle-height:30px;
}
body{
    background: gray;
    text-align: center;
    color: white;
}
p{
    font-family: monospace;
    font-size: 26px;
    font-weight: 500;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
    margin: 0 10%;
}
h2{ 
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 800;
}

.toggle input{
  height: 0;
  width: 0;
}
.toggle .switch{
    display:block;
    margin: 100px auto;
    width: var(--toggle-width);
    height: var(--toggle-height);
    padding: 5px;
    cursor: pointer;
    background-color: var(--off);
    border-radius: 40px;
    position: relative;
    transition: all ease 0.3s;
}
.toggle .switch::before{
    content: '';
    display: block;
    height: var(--toggle-height);
    width: var(--toggle-height);
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top:5px;
    left: 5px;
    transition: all ease 0.3s;
}
.toggle input:checked + .switch{
    background-color: var(--on); 
}
.toggle input:checked + .switch:before {
    transform: translateX(calc(
      var(--toggle-width) - var(--toggle-height)
    ));
  }
